<div class="container">
  <h1>CONTRALALALA</h1>
  <p class="w-25"><strong>Make it accessible.</strong> Select your text and background colors to see if they pass the contrast requirements.</p>
</div>
<div class="container">
  <div class="row align-items-start">
    <div class="col-3">
      <label for="guidelineSelect" class="col-form-label"><b>Select Guideline</b></label>
      <select class="form-select mb-3" id="guidelineSelect">
        <option selected>AA</option>
        <option value="1">AAA</option>
      </select>

      <!-- Text/Component Color inputs -->
      <label for="enterTextColor" class="col-form-label"><strong> Text/Component Colors </strong></label>

      <div class="color-input-group mb-3">
        <input class="color-display-square" [ngStyle]="{'background-color' : headlineColor}" [(colorPicker)]="headlineColor" [cpOutputFormat]="'hex'" [cpCloseClickOutside]="true" [cpDisableInput]="true"/>
        <input id="headlineColorInput" class="form-control" placeholder="Headline | {{headlineColor}}" [(ngModel)]="headlineColor" />
      </div>

      <div class="color-input-group mb-3">
        <input id="bodyColorDisplaySquare" class="color-display-square" [ngStyle]="{'background-color' : bodyColor}" [(colorPicker)]="bodyColor" [cpOutputFormat]="'hex'" [cpCloseClickOutside]="true" [cpDisableInput]="true" />
        <input id="bodyColorInput" class="form-control" placeholder="Body | {{bodyColor}}" [(ngModel)]="bodyColor" />
      </div>

      <div class="container mb-3">
        <a class="link-underline-primary" href="#" role="button" (click)="addColorInput">+ Add color</a>
      </div>

      <div class=" container">
        <fa-icon [icon]="swapHorizontal" class="icon-button fa-2x" (click)="swapColors(headlineColor, bgColor1)"></fa-icon>
      </div>

      <!-- Background Color inputs -->
      <label for="enterBackgroundColor" class="col-form-label"><b> Background Colors </b></label>

      <div class="color-input-group mb-3">
        <input class="color-display-square" [ngStyle]="{'background-color' : bgColor1}" [(colorPicker)]="bgColor1" [cpOutputFormat]="'hex'" [cpCloseClickOutside]="true" [cpDisableInput]="true"/>
        <input id="bgColorInput1" class="form-control" placeholder="{{bgColor1}}" [(ngModel)]="bgColor1" />
      </div>

      <div class="color-input-group mb-3">
        <input class="color-display-square" [ngStyle]="{'background-color' : bgColor2}" [(colorPicker)]="bgColor2" [cpOutputFormat]="'hex'" [cpCloseClickOutside]="true" [cpDisableInput]="true"/>
        <input id="bgColorInput2" class="form-control" placeholder="{{bgColor2}}" [(ngModel)]="bgColor2" />
      </div>

      <div class="container mb-3">
        <a class="link-underline-primary" href="#" role="button">+ Add color</a>
      </div>

    </div>



    <!-- Display Square -->
      <div class="col-9">
        <div class="background-display mb-4" [ngStyle]="{'background-color' : bgColor1 }">
          <div class="col mx-3">
            <div class="colorLabel text-bg-dark">
              <p class="my-3 mx-3"><strong>Background Color: {{bgColor1}} </strong> </p>
            </div>
            <div class="colorLabel text-white bg-secondary">
              <p class="mb-2 mx-3"><strong> Headline: {{headlineColor}}</strong></p>
            </div>
              <h2 class="mb-2" [ngStyle]="{'color' : headlineColor }">
                The wise wizard jinxed the lazy Lord.
              </h2>
              <p class="mb-5">{{contrastResult}}</p>
              <p class="mb-2">
                <strong> Body Color: {{bodyColor}} </strong>
              </p>
              <p class="mb-2" [ngStyle]="{'color' : bodyColor }">
                The wise wizard jinxed the lazy Lord.
              </p>
              <p class="mb-2">{{contrastResult}}</p>
            </div>
          </div>
    

    <div class="background-display mb-4" [ngStyle]="{'background-color' : bgColor2 }">
      <div class="col mx-3">
        <p class="my-4"><strong>Background Color: {{bgColor2}} </strong> </p>
        <p class="mb-3"><strong> Headline Color: {{headlineColor}}</strong></p>
        <h2 class="mb-5" [ngStyle]="{'color' : headlineColor }">
          The wise wizard jinxed the lazy Lord.
        </h2>
        <p class="my-3">
          <strong> Body Color: {{bodyColor}} </strong>
        </p>
        <p [ngStyle]="{'color' : bodyColor }">
          The wise wizard jinxed the lazy Lord.
        </p>
      </div>
    </div>

    <!-- Contrast Result -->
    <h1>{{contrastResult}}</h1>

    <!-- Check Contrast Button -->
    <a class="btn btn-primary mb-5" (click)="checkContrast(headlineColor, bgColor1)">Check Contrast<fa-icon [icon]="chevronRight" class="ms-2"></fa-icon></a>

    </div>
  </div>
</div>

  <!-- Old, vertical, opening/closing color pickers -->
  <!-- <div class="d-flex flex-row align-items-center mb-5">
    <div class="form-group">
      <label for="bgColorInput" class="col-form-label">Background Color</label>
      <div class="d-flex flex-row align-items-center">
        <input id="bgColorInput" class="color-input form-control me-2" [(colorPicker)]="bgColor" [cpOutputFormat]="'rgba'" value="{{bgColor}}"/>
        <fa-icon [icon]="copy" class="icon-button copy-icon" ngxClipboard [cbContent]="bgColor"></fa-icon>
      </div>
    </div>
    <div class="form-group">
      <label for="fontColorInput" class="col-form-label">Font Color</label>
      <div class="d-flex flex-row align-items-center">
        <input id="fontColorInput" class="color-input form-control me-2" [(colorPicker)]="fontColor" value="{{fontColor}}"/>
        <fa-icon [icon]="copy" class="icon-button copy-icon" ngxClipboard [cbContent]="fontColor"></fa-icon>
      </div>
    </div>
  </div>
  <fa-icon [icon]="swapVertical" class="icon-button swap-vertical-icon fa-2x" (click)="swapColors(fontColor, bgColor)"></fa-icon> -->


