.background-square {
    width: 300px;
    height: 300px;
    border: 1px solid #ced4da;
}

.icon-button {
    color: #ced4da;
    cursor: pointer;
}
.icon-button:hover {
    color: #676a6c;
}

.copy-icon {
    position: relative;
    right: 32px;
}

.swap-icon {
    position: relative;
    top: 7px;
}

.btn-massive {
    padding: 5rem 10rem !important;
    font-size: 2rem;
    border-radius: 5rem;
}