.background-display {
    width: 900px;
    height: 300px;
    border: 1px solid #ced4da;
}

.icon-button {
    color: #ced4da;
    cursor: pointer;
}
.icon-button:hover {
    color: #676a6c;
}

.copy-icon {
    position: relative;
    right: 32px;
}

.swap-vertical-icon {
    position: relative;
    top: 7px;
}

.btn-massive {
    padding: 5rem 10rem !important;
    font-size: 2rem;
    border-radius: 5rem;
}

// Color Picker
.color-input {
    display: none;
}
color-picker {
    width: fit-content !important;
    .color-picker {
        width: 230px !important;
        left: unset !important;
        position: unset !important;
        //background-color: black !important;
        .type-policy {
            position: relative !important;
            top: unset !important;
            right: unset !important;
            bottom: 62px !important;
            left: 202px !important;
        }
    }
}
