/* You can add global styles to this file, and also import other style files */
@import 'node_modules/bootstrap/dist/css/bootstrap.min.css';

.colorDisplaySquare {
  width: 38px;
  height: 38px;
  border: 1px solid #ced4da;
}

